.EstimateContainer {
    width: 100%;
    color: white;
    background-color: black;

}

.EstimateContainer>article {

    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 1em;
}

.EstimateContainer article h1 {
    font-family: "Poppins";
    font-weight: 600;

    font-size: 3em;
}

.EstimateContainer article p {

    font-size: 1.3em;

}

.CustomWord {

    color: #46853f;
}


.FormContainer {

    width: 100%;
    display: flex;
}

.FormContainer {
    color: white;
    background-color: white;
}

.CarouselContainer {

    width: 50%;
    background-image: url('../../../assets/Carousel/img2.jpg');
    background-size: cover;

}

.RequestEstimateContainer {
    width: 50%;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.RequestEstimateContainer h1 {

    text-transform: uppercase;
}



#MainForm input {
    width: 60%;
    border-bottom: solid 1px black;
    color: black;
    margin: 2em auto;


}

#MainForm input:focus {

    box-shadow: none;
    outline: none;
    border-bottom: solid 1px black;
}

#MainForm select {

    border-bottom: solid 1px black;
    width: 50%;
    margin: auto;


}

#MainForm select:focus {

    outline: none;
    box-shadow: none;
}

#MainForm button {

    width: 35%;
    color: white;
    margin: 2em auto;
    padding: 1em;
    border-radius: 5px;

    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #d3d3d3 74%);

}

#MainForm button:hover {
    transition: .4s all ease-in-out;
    background-color: black;
    color: white;

}